@{
    GoC.WebTemplate.Components.Model WebTemplateModel = (GoC.WebTemplate.Components.Model)ViewData["WebTemplateModel"];
}
<!DOCTYPE html>

<!--[if lt IE 9]><html class="no-js lt-ie9" lang="@WebTemplateModel.TwoLetterCultureLanguage" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="@WebTemplateModel.TwoLetterCultureLanguage" dir="ltr">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
        wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
    <title>@Html.Raw(WebTemplateModel.Render.HeaderTitle())</title>
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <!-- Load closure template scripts -->
    <script type="text/javascript" src="@string.Concat(WebTemplateModel.CDNPath, "soyutils.js")"></script>
    <script type="text/javascript" src="@string.Format(System.Globalization.CultureInfo.InvariantCulture, "{0}wet-{1}.js", WebTemplateModel.CDNPath, WebTemplateModel.TwoLetterCultureLanguage)"></script>
    <noscript>
        <!-- Write closure fall-back static file -->
        @Html.Raw(WebTemplateModel.LoadStaticFile("refTop.html"))
    </noscript>
    <!-- Write closure template -->
    <script type="text/javascript">
        document.write(wet.builder.refTop(@Html.Raw(WebTemplateModel.Render.RefTop(isApplication : false))));
    </script>
    @Html.Raw(WebTemplateModel.Render.HtmlHeaderElements())
    @RenderSection("CustomStyles", required: false)
    <!-- GoC.WebTemplate Version MVC @ViewData["WebTemplateVersion"] -->
    <!-- GoC.WebTemplate.Core Version @WebTemplateModel.AssemblyVersion -->
</head>
<body vocab="http://schema.org/" typeof="WebPage">
    @Html.Raw(WebTemplateModel.Render.SessionTimeoutControl())
    <div id="def-top">
        <!-- Write closure fall-back static file -->
        @Html.Raw(WebTemplateModel.LoadStaticFile(string.Concat("top-", WebTemplateModel.TwoLetterCultureLanguage, ".html")))
    </div>
    <!-- Write closure template -->
    <script type="text/javascript">
        var defTop = document.getElementById("def-top");
        defTop.outerHTML = wet.builder.top(@Html.Raw(WebTemplateModel.Render.Top()));
    </script>
    <main role="main" property="mainContentOfPage" class="container" typeof="WebPageElement">
        <!-- the main content -->
        @RenderBody()
        <!-- end main content -->
        <div id="def-preFooter">
            <!-- Write closure fall-back static file -->
            @Html.Raw(WebTemplateModel.LoadStaticFile(string.Concat("preFooter-", WebTemplateModel.TwoLetterCultureLanguage, ".html")))
        </div>
        <!-- Write closure template -->
        <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter(@Html.Raw(WebTemplateModel.Render.PreFooter()));
        </script>
    </main>
    <div id="def-footer">
        <!-- Write closure fall-back static file -->
        @Html.Raw(WebTemplateModel.LoadStaticFile(string.Concat("footer-", WebTemplateModel.TwoLetterCultureLanguage, ".html")))
    </div>
    <!-- Write closure template -->
    <script type="text/javascript">
    var defFooter = document.getElementById("def-footer");
        defFooter.outerHTML = wet.builder.footer(@Html.Raw(WebTemplateModel.Render.Footer()));
    </script>
    <!-- Write closure template -->
    <script type="text/javascript">
        document.write(wet.builder.refFooter(@Html.Raw(WebTemplateModel.Render.RefFooter())));
    </script>
    @Html.Raw(WebTemplateModel.Render.HtmlBodyElements())
    @RenderSection("CustomScripts", required: false)
</body>
</html>