<!DOCTYPE html>

<!--[if lt IE 9]><html class="no-js lt-ie9" lang="@ViewBag.WebTemplateCore.TwoLetterCultureLanguage" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="@ViewBag.WebTemplateCore.TwoLetterCultureLanguage" dir="ltr">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
        wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
    <title>@ViewBag.WebTemplateCore.RenderHeaderTitle()</title>
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <!-- Load closure template scripts -->
    <script type="text/javascript" src="@string.Concat(ViewBag.WebTemplateCore.CDNPath, "soyutils.js")"></script>
    <script type="text/javascript" src="@string.Format(System.Globalization.CultureInfo.InvariantCulture, "{0}wet-{1}.js", ViewBag.WebTemplateCore.CDNPath, ViewBag.WebTemplateCore.TwoLetterCultureLanguage)"></script>
    <noscript>
        <!-- Write closure fall-back static file -->
        @ViewBag.WebTemplateCore.LoadStaticFile("serverRefTop.html")
    </noscript>
    <!-- Write closure template -->
    <script type="text/javascript">
        document.write(wet.builder.refTop(@ViewBag.WebTemplateCore.RenderServerRefTop()));
    </script>
    @ViewBag.WebTemplateCore.RenderHtmlHeaderElements()
    @RenderSection("CustomStyles", required: false)
    <!-- GoC.WebTemplate Version MVC @ViewBag.WebTemplateVersion -->
    <!-- GoC.WebTemplate.Core Version @ViewBag.WebTemplateCore.AssemblyVersion -->
</head>

<body vocab="http://schema.org/" typeof="WebPage">
    @ViewBag.WebTemplateCore.RenderSessionTimeoutControl()
    <div id="def-top">
        <!-- Write closure fall-back static file -->
        @ViewBag.WebTemplateCore.LoadStaticFile("serverTop.html")
    </div>
    <!-- Write closure template -->
    <script type="text/javascript">
        var defTop = document.getElementById("def-top");
        defTop.outerHTML = wet.builder.serverTop(@ViewBag.WebTemplateCore.RenderServerTop());
    </script>
    <main role="main" property="mainContentOfPage" class="container">
        <!-- the main content -->
        @RenderBody()
        <!-- end main content -->
    </main>
    <div id="def-footer">
        <!-- Write closure fall-back static file -->
        @ViewBag.WebTemplateCore.LoadStaticFile("serverBottom.html");
    </div>
    <!-- Write closure template -->
    <script type="text/javascript">
    var defFooter = document.getElementById("def-footer");
        defFooter.outerHTML = wet.builder.serverBottom(@ViewBag.WebTemplateCore.RenderServerBottom());
    </script>
    <!-- Write closure template -->
    <script type="text/javascript">
        document.write(wet.builder.refFooter(@ViewBag.WebTemplateCore.RenderServerRefFooter()));
    </script>
    @ViewBag.WebTemplateCore.RenderHtmlBodyElements()
    @RenderSection("CustomScripts", required: false)
</body>
</html>