<div class="well">
    <h3>Other Layouts</h3>
    <div class="row">
        <div class="col-md-4">
            <h4>AKAMAI</h4>
            <ul>
                <li><a href="@Url.Action("Default", "TestLayouts")">Default</a></li>
                <li><a href="@Url.Action("DefaultLeftMenu", "TestLayouts")">Default Left Menu</a></li>
                <li><a href="@Url.Action("SplashPage", "TestLayouts")">Splash Page</a></li>
                <li><a href="@Url.Action("ErrorPageBilingual", "TestLayouts")">Error Page Bilingual</a></li>
                <li><a href="@Url.Action("ErrorPageUnilingual", "TestLayouts")">Error Page Unilingual</a></li>
                <li><a href="@Url.Action("Application", "TestLayouts")">Application</a></li>
                <li><a href="@Url.Action("ApplicationLeftMenu", "TestLayouts")">Application Left Menu</a></li>
                <li><a href="@Url.Action("Transactional", "TestLayouts")">Transactional</a></li>
                <li><a href="@Url.Action("TransactionalLeftMenu", "TestLayouts")">Transactional Left Menu</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4>PROD_SSL</h4>
            <ul>
                <li><a href="@Url.Action("Default", "TestLayouts")?env=PROD_SSL">Default</a></li>
                <li><a href="@Url.Action("DefaultLeftMenu", "TestLayouts")?env=PROD_SSL">Default Left Menu</a></li>
                <li><a href="@Url.Action("SplashPage", "TestLayouts")?env=PROD_SSL">Splash Page</a></li>
                <li><a href="@Url.Action("ErrorPageBilingual", "TestLayouts")?env=PROD_SSL">Error Page Bilingual</a></li>
                <li><a href="@Url.Action("ErrorPageUnilingual", "TestLayouts")?env=PROD_SSL">Error Page Unilingual</a></li>
                <li><a href="@Url.Action("Application", "TestLayouts")?env=PROD_SSL">Application</a></li>
                <li><a href="@Url.Action("ApplicationLeftMenu", "TestLayouts")?env=PROD_SSL">Application Left Menu</a></li>
                <li><a href="@Url.Action("Transactional", "TestLayouts")?env=PROD_SSL">Transactional</a></li>
                <li><a href="@Url.Action("TransactionalLeftMenu", "TestLayouts")?env=PROD_SSL">Transactional Left Menu</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4>ESDC_PROD</h4>
            <ul>
                <li><a href="@Url.Action("Default", "TestLayouts")?env=ESDC_PROD">Default</a></li>
                <li><a href="@Url.Action("DefaultLeftMenu", "TestLayouts")?env=ESDC_PROD">Default Left Menu</a></li>
                <li><a href="@Url.Action("SplashPage", "TestLayouts")?env=ESDC_PROD">Splash Page</a></li>
                <li><a href="@Url.Action("ErrorPageBilingual", "TestLayouts")?env=ESDC_PROD">Error Page Bilingual</a></li>
                <li><a href="@Url.Action("ErrorPageUnilingual", "TestLayouts")?env=ESDC_PROD">Error Page Unilingual</a></li>
                <li><a href="@Url.Action("Application", "TestLayouts")?env=ESDC_PROD">Application</a></li>
                <li><a href="@Url.Action("ApplicationLeftMenu", "TestLayouts")?env=ESDC_PROD">Application Left Menu</a></li>
                <li><a href="@Url.Action("Transactional", "TestLayouts")?env=ESDC_PROD">Transactional</a></li>
                <li><a href="@Url.Action("TransactionalLeftMenu", "TestLayouts")?env=ESDC_PROD">Transactional Left Menu</a></li>
            </ul>
        </div>
    </div>
    <h3>Features</h3>
    <ul class="colcount-md-3">
        <li><a href="@Url.Action("TestPage", "TestFeatures")">Default Test Page</a></li>
        <li><a href="@Url.Action("SignIn", "TestFeatures")">Sign In</a></li>
        <li><a href="@Url.Action("SignOut", "TestFeatures")">Sign Out</a></li>
        <li><a href="@Url.Action("NoSearch", "TestFeatures")">No Search</a></li>
        <li><a href="@Url.Action("CustomMenu", "TestFeatures")">Custom Menu</a></li>
        <li><a href="@Url.Action("WithBreadCrumbs", "TestFeatures")">With Bread Crumbs</a></li>
    </ul>
</div>
