@{ #pragma warning disable 8600, 8602 }
@{
    GoC.WebTemplate.Components.IModel WebTemplateModel = (GoC.WebTemplate.Components.IModel)ViewData["WebTemplateModel"];
}
<!DOCTYPE html>

<!--[if lt IE 9]><html class="no-js lt-ie9" lang="@WebTemplateModel.TwoLetterCultureLanguage" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="@WebTemplateModel.TwoLetterCultureLanguage" dir="ltr">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
        wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
    <title>@WebTemplateModel.Render.HeaderTitle()</title>
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <!-- Load closure template scripts -->
    <link rel="stylesheet" @Html.Raw(@WebTemplateModel.CSSPath)>
    <script type="text/javascript" @Html.Raw(@WebTemplateModel.Builder.BuildWetJsPathAttributes(@WebTemplateModel.TwoLetterCultureLanguage)) data-cdts-setup='@WebTemplateModel.Render.TransactionalSetup()'></script>
    <noscript>
        <!-- Write closure fall-back static file -->
        @WebTemplateModel.LoadStaticFile("refTop.html")
    </noscript>
    @WebTemplateModel.Render.HtmlHeaderElements()
    @RenderSection("CustomStyles", required: false)
</head>
<body vocab="http://schema.org/" typeof="WebPage">
    @WebTemplateModel.Render.SessionTimeoutControl()
    <div id="cdts-def-top">
        <!-- Write closure fall-back static file -->
        @WebTemplateModel.LoadStaticFile(string.Concat("transactTop-", WebTemplateModel.TwoLetterCultureLanguage, ".html"))
    </div>
    <main role="main" property="mainContentOfPage" class="container">
        <!-- the main content -->
        @RenderBody()
        <!-- end main content -->
        <div id="cdts-def-preFooter">
            <!-- Write closure fall-back static file -->
            @WebTemplateModel.LoadStaticFile(string.Concat("preFooter-", WebTemplateModel.TwoLetterCultureLanguage, ".html"))
        </div>
    </main>
    <div id="cdts-def-footer">
        <!-- Write closure fall-back static file -->
        @WebTemplateModel.LoadStaticFile(string.Concat("transactFooter-", WebTemplateModel.TwoLetterCultureLanguage, ".html"))
    </div>
    @RenderSection("CustomScripts", required: false)
</body>
</html>