
<div>
    <h3>Other Web Template Samples</h3>
    <ul>
        <li><a href="@Url.Action("CustomJSandCSSFilesSample", "GoCWebTemplateSamples")">Adding CSS or JS</a></li>
        <li><a href="@Url.Action("BaseSettingsSample", "GoCWebTemplateSamples")">Basic Settings</a></li>
        <li><a href="@Url.Action("BreadcrumbSample", "GoCWebTemplateSamples")">Breadcrumbs</a></li>
        <li><a href="@Url.Action("FeedbackandShareThisPageSample", "GoCWebTemplateSamples")">Feedback and Share This Page Links</a></li>
        <li><a href="~/GoCWebTemplateExtendedCtrlSample/ExtendedCtrlSample">Extended Controller</a></li>
        <li><a href="@Url.Action("GCIntranetThemeSample","GoCWebTemplateSamples")">GCIntranet Theme</a></li>
        <li><a href="@Url.Action("LeavingSecureSiteSample", "GoCWebTemplateSamples")">Leaving Secure Site Warning</a></li>
        <li><a href="@Url.Action("LeftMenuSample", "GoCWebTemplateSamples")">Left Menu</a></li>
        <li><a href="@Url.Action("SessionTimeoutSample", "GoCWebTemplateSamples")">Session Timeout</a></li>
        <li><a href="~/GoCWebTemplateSample/SplashPageSample">Splash Page</a></li>
        <li><a href="@Url.Action("FooterLinksSample", "GoCWebTemplateSamples")">Footer Link</a></li>
        <li><a href="@Url.Action("BilingualErrorSample", "GoCWebTemplateSamples")">Bilingual Error Page</a></li>
        <li><a href="@Url.Action("UnilingualErrorSample", "GoCWebTemplateSamples")">Unilingual Error Page</a></li>
        <li><a href="@Url.Action("TransactionalSample","GoCWebTemplateSamples")">Transactional Page</a></li>
        <li><a href="@Url.Action("StandardPage", "GoCWebTemplateApplicationSample")">Application Template</a></li>
    </ul>
</div>