@inherits LayoutComponentBase
@using System.Web
@inject NavigationManager NavManager
@using  System.Globalization
@inject IJSRuntime JS
@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

    <CDTSLayout RefTop = "@refTopObj" Top = "@topObj" PreFooter = "@obj" Footer = "@footerObj" RefFooter = "@refFooterObj" LeftMenu = "@leftMenuObj">
        <NavLink href="" Match="NavLinkMatch.All">
            <button class="btn">Home</button>
        </NavLink>
        <NavLink href="externallink">
            <button class="btn">External Link</button>
        </NavLink>
        <NavLink href="wetform">
            <button class="btn">Wet Form</button>
        </NavLink>
            
        <button class="btn" @onclick="AddSearch">Add Search</button>
        <button class="btn" @onclick="AddFooter">Add Footer</button>
        <button class="btn" @onclick="AddLeftMenu">Add left Menu</button>  
        <button class="btn" @onclick="AddShareBtn">Add Share</button>  
        @Body
    </CDTSLayout>

@code{


    //For AppTop, change the following: 
    Blazor.Model.Top topObj { get; set; } = new Blazor.Model.Top();

    protected override Task OnInitializedAsync()
    {
        JS.InvokeVoidAsync("SetCurrentPage", Navigation.ToBaseRelativePath(Navigation.Uri));
        
        List<LanguageLink> links = new List<LanguageLink>()
        {
            new LanguageLink(){Href=Navigation.BaseUri + "ChangeLang"}
        };        

        topObj.LngLinks = links;

        Navigation.LocationChanged += (o, e) => {
            JS.InvokeVoidAsync("SetCurrentPage", Navigation.ToBaseRelativePath(Navigation.Uri));
        };

        topObj.Breadcrumbs = new List<Breadcrumb>
        {
            new Breadcrumb(){Href="", Title="CDTS", Acronym="CDTS"}
        };

        //For AppTop, comment the following:
        topObj.SiteMenu = true;

        //For AppTop, uncomment the following:
        //topObj.AppName = new List<Link>() { new Link() { Text = "App name" } };

        return base.OnInitializedAsync();
    }


    public void AddSearch()
    {
        topObj.Search = true;
    }
    public void AddFooter()
    {
        //For AppTop, change the following:
        footerObj.ShowFooter = true;

        /*footerObj.ContactLink = new List<Link>
            {
            new Link { Href = "http://travel.gc.ca/", Text = "Contact Now" },
            new Link { Href = "http://travel.gc.ca/", Text = "Contact Info" }
        };*/
    }
    public void AddShareBtn()
    {
        obj.DateModified = "July 20th, 2024";
        obj.ShowShare = new ShareList() { Show = true, Enums = new List<SocialMediaSites>() { SocialMediaSites.blogger, SocialMediaSites.facebook } };
    }

    private void IncrementCount()
    {
        topObj.CdnEnv = "canada";
    }

    Blazor.Model.PreFooter obj = new Blazor.Model.PreFooter()
        {
            DateModified = "July 18th, 2023",
            ShowShare = new ShareList() { Show = false }
    };

    //For AppFooter, change the following
    Blazor.Model.Footer footerObj = new Blazor.Model.Footer()
    {

    };

    Blazor.Model.RefFooter refFooterObj = new Blazor.Model.RefFooter()
    {
        ExitSecureSite = new ExitSecureSite()
        {
            ExitScript = true,
            DisplayModal = true
        }
    };

    Blazor.Model.RefTop refTopObj = new Blazor.Model.RefTop()
        {
            //For AppTop, uncomment the following:
            //IsApplication = true
    };

    List<GoC.WebTemplate.Components.Entities.MenuSection> leftMenuObj;

    private void AddLeftMenu()
    {
        topObj.TopSecMenu = true;

        var item = new MenuItem
        {
            Href = "http://www.tsn.ca",
            Text = "TSN",
            SubItems = new List<Link> {
                new Link { Href="http://www.cbc.ca", Text="sub 1", NewWindow= true },
                new Link { Href="http://www.rds.ca", Text="sub 2" }
            }
        };

        leftMenuObj = new List<MenuSection>
        {
            new MenuSection
            {
                Text = "Section A",
                Href = "http://www.servicecanada.gc.ca",
                NewWindow = true,
                Items = new List<MenuItem> {
                    item,
                    new MenuItem { Href = "http://www.cnn.ca", Text = "CNN" }
                }
            }
        };
    }
}
